.item:hover{
  background-color :rgb(230, 230, 230);
}

.col2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

button{
  padding: 10px;
  
}